#root {
  position: relative;
  max-width: 1280px;
  width: 100%;
  padding: 2rem;
  text-align: center;
}


.puppy-container {
  display: flex;
  flex-wrap: wrap;
}

.puppy {
  flex-basis: 33%;
}

.featured-pup {
  width: fit-content;
  margin: 0 auto;
}